.*
*.pid
*.pyc
*.egg-info/
*.sqlite*
*_ignore.py
__pycache__/
/docs/*.log
/environ/
/scripts/host/10-prepare.sh
/scripts/host/uwsgi.ini
/scripts/host/supervisor.conf
/scripts/host/nginx.conf
/scripts/host/celery*.yml
/scripts/host/mail.yml
/scripts/host/db_*.cnf
/scripts/gauges/env/
/scripts/gauges/utils/default.py
/scripts/gauges/utils/settings.py
/scripts/gauges/logs/
/scripts/gauges/reports/
/www/openapi/dist/
